@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .page {
    width: 100%;
    box-sizing: border-box;
    page-break-after: always;
    break-after: page;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  /* div.chart{
    transform: scale(0.9);
  } */

  /* .page:last-child {
    page-break-after: auto;
  } */
}
